<article class="post">
      <div class="title">
        <h3>{{title}}</h3>
        <span>{{post_content}}</span>
      </div>
      <div class="meta">
        Post By: {{user.username}} on
        {{format_date createdAt}}
        |
        <a href="/post/{{id}}">{{comments.length}} Comments</a>
      </div>
    </article>