<article>
    <a href="/dashboard">Back</a>
    <h2>
        Edit Your Post
    </h2>
    <form class="edit-post-form">
        <div>
            <h3>Post Title</h3>
            <input name="post-title" type="text" value="{{post.title}}"/>
            <h3>Post Content</h3>
            <input name="post-content" type="text" value="{{post.post_content}}"/>
        </div>
        <div>
            Posted on {{format_date post.createdAt}}
            |
            <a href="/post/{{post.id}}">{{post.comments.length}}</a>
        </div>
        <button type="submit">Save</button>
        <button type="button" class="delete-post-btn">Delete</button>
    </form>
</article>

<form class="comment-form">
  <div>
    <textarea name="comment-body"></textarea>
  </div>

  <div>
    <button type="submit">Add</button>
  </div>
</form>

{{comments post.comments}}

<script src="/js/edit-post.js"></script>
<script src="/js/delete-post.js"></script>
<script src="/js/comment.js"></script>